* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #d1cfcf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    max-width:100%;
    background-color: #FFF0F0;
    overflow: hidden;
}

.header {
    padding: 20px 80px 0px 130px
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-info {
    position: relative;
    padding-bottom:20px;
    margin-bottom:10px;
}

.form-info label {
    display: inline-block;
    margin-bottom: 5px
}

.form-info input {
    border: 2px;
    border-radius: 25px;
    display: block;
    width: 100%;
    font-size:12px;
    padding: 10px
}

.form-info i {
    top: 40px;
    right: 10;
    position: absolute;
}

.form-info small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container button  {
    background-color: #ffffff;
    width: 35%;
    height: 28px;
    border-radius: 15px;
    display: inline;
    margin-left: 30px;
}

.form-info textarea {
    display: inline-block;
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 15px;
    border-color: lightgray;
    resize: none
}