table {
    border-collapse: collapse;
    width: 50%;
    margin:auto;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {background-color: #faa6a65b;;}

  .header {
      margin:auto;
  }